<div class="container">
  <form #searchForm="ngForm">

    <div class="form-group" id="user-input">
      <label for="wordsearch">Search word</label>
      <input type="text" class="form-control" placeholder="Word to search for" id="wordsearch"  ngModel name="wordsearch" required #wordsearch>
      <label for="notebookentry">Notebook</label>
      <input type="text" class="form-control" placeholder="Notebook entry" id="notebookentry" ngModel name="notebookentry" required #notebookentry>
    </div>
    <button type="button" class="btn btn-primary" [disabled]="!searchForm.valid" (click)="searchWord(wordsearch.value, notebookentry.value)">Search</button>
    <div class="form-group">
      <h4><span class="label label-success">Word fequency: {{wfrequency}} </span>
      <br><br>
      <span class="label label-success">Similar words: {{wsimilarity}} </span></h4>  
    </div>

  </form>
</div>